.chatWindow-header{
    background-color:#2A2F32;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:0.1rem solid #2E2E2E;
    grid-area:header;
    padding:1rem;
}
.chatWindow-headerinfo{
    display:flex;
    align-items:center;
    cursor:pointer;
}
.chatWindow-avatar{
    width:2.5rem;
    height:2.5rem;
    border-radius:3rem;
    margin-left:1rem;
    margin-right:1rem;
}
.chatWindow-name{
    font-size:1rem;
    color:#FFF;
}
.chatWindow-headerbtns{
    display:flex;
    align-items:center;
    margin-right:1rem;
}
.chatWindow-btn{
    width:3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.chatWindow-body{
    grid-area:main;
    display:flex;
    overflow-y:auto;
    background-color:#0D1418;
    background-size:cover;
    flex-direction:column;
}
.chatWindow-message{
    width:auto;
    display:flex;
    flex-direction:column;
}

.chatWindow-emojiarea{
    opacity:0;
    height:25vh;
    transition:all 0.3s ease-out ;
    align-self:flex-end; 
}
aside.emoji-picker-react {
    width:auto !important;
    background:#2A2F32!important; 
    border:none!important;
    box-shadow:none!important;
}
.emoji-picker-react .emoji-group:before{
    background:none!important;
}
.chatWindow-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#2A2F32;
    padding:1rem;
}
.chatWindow-pre{
    display:flex;
}

.chatWindow-input{
    width:50vw;
    height:2.5rem;
    border:0;
    outline:0; 
    border-radius:5rem;
    color:#ABABAB;
    background-color:#131C21;
    font-size:1rem;
    padding-left:1rem;
}
.chatWindow-pos{
}