*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    background-color:#0D1418;
    margin:0;
    font-family:"serge UI", helvetica Neue, helvetica, Arial, sans-serif;
    overflow:hidden;
}
.app-window{
    display:flex;
    background-color: #0D1418;
}
.sidebar{
    width:35vw;
    max-width:35vw;
    min-width:20rem;
    height:100vh;
    flex-direction:column;
    border-right:0.1rem solid #2E2E2E;
    background-color:#131C21;
}
header{
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 2rem;
    background-color:#2A2F32;
}

.header-avatar{
    width:2.5rem;
    height:2.5rem;
    border-radius:4rem;
    cursor:pointer;
}
.header-buttons{
    display:flex;
}

.header-btn{
    width:3rem;
    height:3rem;
    border-radius:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.search{
    background-color:#131C21;
    border-bottom:0.1rem solid #2E2E2E;
    padding:1vw 2vw;
}
.search-input{
    background-color:#2A2F32;
    height:2.5rem;
    border-radius:20vw;
    display:flex;
    align-items:center;
    padding: 0 10px;
}

.search-input input{
    flex:1;
    border:0;
    outline:0;
    background:transparent;
    color:#ABABAB;
}
.chatlist{
 flex:1;
 overflow-y:auto;
 height:80vh;
}
.chatlist::-webkit-scrollbar{
    width:0.3rem;
    height:0.3rem;
}
.chatlist::-webkit-scrollbar-thumb{
    background-color: #ABABAB;
}

.contentarea{
    flex:1;
}