*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    background-color:#212121;
    margin:0;
    font-family:"serge UI", helvetica Neue, helvetica, Arial, sans-serif;
}
.app-window{
    display:flex;
    height:100vh;
    background-color: #121212;
}
.sidebar{
    width:35vw;
    max-width:35vw;
    min-width:20rem;
    height:100vh;
    flex-direction:column;
    border-right:0.1rem solid #2E2E2E;
    background-color:#121212;
}
header{
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 2rem;
    background-color:#2E2E2E;
}

.header-avatar{
    width:2.5rem;
    height:2.5rem;
    border-radius:4rem;
    cursor:pointer;
}
.header-buttons{
    display:flex;
}

.header-btn{
    width:3rem;
    height:3rem;
    border-radius:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.search{
    background-color:#121212;
    border-bottom:0.1rem solid #2E2E2E;
    padding:1vw 2vw;
}
.search-input{
    background-color:#2E2E2E;
    height:40px;
    border-radius:20px;
    display:flex;
    align-items:center;
    padding: 0 10px;
}

.search-input input{
    flex:1;
    border:0;
    outline:0;
    background:transparent;
    color:#ABABAB;
}
.chatlist{
    color:#ABABAB;
}